name: test-lint-deploy

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Dependencies
        run: |
          npm ci

      - name: run lint
        run: |
          npm run lint

  test:
    needs: lint
    runs-on: ubuntu-latest
    steps: 
    - name: test 
      run: |
        vitest run

  build: 
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: build
      run: |
        vite build

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: deploy
        run: |
          vite preview

        
      


